.container {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 100%;
  background-color: black;
  margin-bottom: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.active {
  background-color: #f8f8f0;
  color: black;
  padding: 5px 30px;
  font-weight: bold;
}

.inactive {
  background-color: inherit;
  padding: 5px 30px;
  font-weight: bold;
  cursor: pointer;
}

.inactive:hover {
  background-color: #f8f8f0;
  color: black;
  padding: 5px 30px;
  filter: brightness(90%);
  font-weight: bold;
}

.loadingSpinner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  height: 75vh;
}

.main {
  margin: 0 auto;
  box-shadow: 1px 1px 4px darkgray;
  overflow: auto;
  background-color: white;
  padding: 5px 10px;
  max-width: 80vw;
  display: flex;
  min-height: 150px;
  flex-direction: column;
}
.signIn {
  height: 150px;
}
.signInPrompt {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 50px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.signInMessage {
  margin-bottom: 10px;
}

.gridDisplay {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gridBox {
  padding: 0 20px;
}
.modalContainer {
  box-shadow: 1px 1px 4px darkgray;
  overflow: auto;
  padding: 20px;
  display: flex;
  background-color: white;
  flex-direction: column;
}
.sideBySide {
  display: flex;
  flex-direction: row;
}
.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-weight: 500;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.displayElement {
  width: 15rem;
  display: flex;
  flex-shrink: 0;
  /* align-items: flex-start; */
}

.displayElementPW {
  width: 22.5rem;
  display: flex;
  flex-shrink: 0;
  /* align-items: flex-start; */
}

.labelElement {
  min-width: 7.5rem;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
}

.contentElement {
  min-width: 7.5rem;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
}

.wideContentElement {
  min-width: 15rem;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
}

.veryWideContentElement {
  min-width: 22.5rem;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
}

.verticalDisplayElement {
  min-width: 7.5rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.label {
  padding: 2px 5px;
  min-width: 7.5rem;
  flex-grow: 1;
  font-weight: 600;
}

.labelPW {
  padding: 2px 5px;
  width: 50%;
  flex-grow: 1;
  font-weight: 600;
}

.verticalLabel {
  padding: 2px 5px;
  min-width: 7.5rem;
  flex-grow: 1;
  text-align: left;
  max-height: 50%;
}

.content {
  padding: 2px 5px;
  background-color: aliceblue;
  min-width: 7.5rem;
  max-width: 15rem;
  flex-grow: 1;
  text-align: left;
}

.spacer {
  padding: 2px 5px;
  background-color: inherit;
  min-width: 7.5rem;
  flex-grow: 1;
  text-align: left;
}

.wideContent {
  padding: 2px 5px;
  background-color: aliceblue;
  min-width: 15rem;
  max-width: 15rem;
  flex-grow: 1;
  text-align: left;
}

.veryWideContent {
  padding: 2px 5px;
  background-color: aliceblue;
  min-width: 22.5rem;
  max-width: 22.5rem;
  flex-grow: 1;
  text-align: left;
}

.verticalContent {
  padding: 2px 5px;
  background-color: aliceblue;
  min-width: 7.5rem;
  flex-grow: 1;
  text-align: left;
  max-height: 50%;
}

.inputDiv {
  padding: 2px 5px;
  background-color: powderblue;
  width: 7.5rem;
  flex-grow: 1;
  text-align: left;
  font-weight: 600;
}

.input {
  border: none;
  padding: 3px 5px;
  background-color: powderblue;
  width: 7.5rem;
  flex-grow: 1;
  text-align: left;
  font-weight: 600;
}

.inputDropdown {
  border: none;
  padding: 3px 5px 3px 1px;
  background-color: powderblue;
  width: 7.5rem;
  flex-grow: 1;
  text-align: left;
  font-weight: 600;
}

.button {
  background-color: #f8f8f0;
  border: none;
  padding: 5px 15px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 0 5px;
  width: 75px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.button:hover {
  filter: brightness(95%);
}
.button:active {
  filter: brightness(90%);
}
